[submodule "extern/eliott-ecs"]
	path = extern/eliott-ecs
	url = https://github.com/Lomiredos/eliott-ecs
[submodule "extern/eliott-audio"]
	path = extern/eliott-audio
	url = https://github.com/Lomiredos/eliott-audio
[submodule "extern/eliott-math"]
	path = extern/eliott-math
	url = https://github.com/Lomiredos/eliott-math
[submodule "extern/eliott-physics-3d"]
	path = extern/eliott-physics-3d
	url = https://github.com/Lomiredos/eliott-physics-3d
[submodule "extern/eliott-renderer-3d"]
	path = extern/eliott-renderer-3d
	url = https://github.com/Lomiredos/eliott-renderer-3d
